<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionRemota" connectionString="Data Source=AFSACLDB2016\BDPRODUCCION;Initial Catalog=PRDETIQV2;User ID=Notificacion;Password=n0t1f1c4c10n;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
	<!-- configuración parametros del servicio-->
	<appSettings>
		<add key="tiempo" value="4"/>
		<add key="entreProcesos" value="60"/>
		<add key="Material_Embalaje" value="EM00006"/>
		<add key="Planta" value="PDBU"/>
		<!-- Configuración SAP-->
		<add key="UsuarioSap" value="intranet"/>
		<add key="PasswordSap" value="@int33102010"/>
		<!-- Configuración Creación Lotes Inspección -->
		<add key="wMod" value="1"/>
		<add key="lotOri" value="04"/>
		<add key="GeneraFQ" value="X"/>
		<add key="GeneraMB" value="X"/>
		<!-- Configuración Almacenes -->
		<add key="Movimiento" value="999"/>
		<add key="Almacen" value="BW05"/>
		<add key="TipoAlm" value="D15"/>
		<add key="Ubicacion" value="D-32"/>
		<add key="Confirmacion" value="X"/>
		<!-- Configuración Consumos-->
		<add key="Consumo" value="X"/>
		<!-- Con Lotes FQ -->
		<add key="GeneraFQ" value=""/>
	</appSettings>
</configuration>